fastapi==0.128.0
slowapi==0.1.9
uvicorn==0.40.0
loguru==0.7.3
pydantic==2.12.5
pydantic-settings
python-dotenv==1.2.1
boto3==1.42.23
botocore==1.42.23
pytest==9.0.2
moto==5.1.19
psycopg2-binary==2.9.11
sqlalchemy==2.0.45
kafka-python-ng==2.2.3
python-multipart==0.0.21
aiokafka==0.13.0

# docling==2.68.0
tesserocr==2.9.2
pymupdf4llm==0.2.9
docling-core==2.57.0
docling-parse==4.7.3
pypdf==6.5.0
docx==0.2.4
google-genai==1.60.0
python-pptx==1.0.2

prometheus-client==0.24.1
